{% extends 'base.html.twig' %}
 
 {% block title %} Symfony React Starter {% endblock %}


{% block javascripts %}

    <!-- Include the compiled script-->
    <script type="text/javascript" src="{{ asset('build/test.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>


{% endblock %}

 {% block body %}
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <a class="navbar-brand" href="#"> Symfony React Starter </a>
     </nav>

     <div id="root"></div>

 {% endblock %}